@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../public/bg-intro-desktop.png);
  color: white;
}

#root {
  padding: 100px 100px;
  display: flex;
  grid-column-start: 1fr 1fr;
  height: 100vh;
  gap: 40px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 37px;
}

p {
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column {
  /* border-color: red; */
  /* border-style: solid; */
  flex: 50%;
  height: 100%;
}

.column-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-right {
  display: flex;
  flex-direction: column;
}

.signup-form {
  display: flex;
}

.input-field {
  padding: 15px;
  width: 100%;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(219, 218, 218);
  font-family: inherit;
}

#column-right-header {
  width: 100%;
  padding-bottom: 20px;
  background-color: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

#column-right-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
}

#column-right-footer {
  background-color: white;
  padding: 30px;
}

.btn {
  width: 100%;
  border-radius: 10px;
  border-style: none;
  font-family: inherit;
  color: inherit;
}

.btn-try {
  background-color: hsl(247, 34%, 53%);
  height: 60px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.btn-try:hover,
.btn-claim-trial:hover {
  cursor: pointer;
}

.btn-claim-trial {
  margin-top: 10px;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  height: 60px;
}

input:invalid {
  border-color: red;
}

.hidden {
  display: none;
}

.error-msg-container {
  text-align: right;
  width: 100%;
  height: 20px;
}
